#*
 *    Copyright (C) 2011 Nadim Benabdenbi <nadim.benabdenbi@gmail.com>
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 *#
    ---
    Proxy
    ---
    Nadim Benabdenbi
    ---
    YYYY-MM-DD
    ---

HTTP Request Throw Proxy Example

* Saving google home page to file <target/generated-html/google-proxy.html> using public proxy 91.82.85.108:3128

+---
<project>
  <pluginRepositories>
    <pluginRepository>
      <id>sonata-oss-nexus</id>
      <url>${plugin-repository-url}</url>
      <snapshots>
        <enabled>true</enabled>
      </snapshots>
    </pluginRepository>
  </pluginRepositories>
  ...
  <build>
    <plugins>
      <plugin>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${project.version}</version>
        <executions>
          <execution>
            <phase>process-resources</phase>
            <goals>
              <goal>execute</goal>
            </goals>
          </execution>
        </executions>
        <configuration>
          <failSafe>false</failSafe>
          <request>
            <url>http://www.google.com</url>
          </request>
          <proxy>
            <host>91.82.85.108</host>
            <port>3128</port>
          </proxy>
          <transformers>
            <transformer>
              <className>com.google.code.maven.plugin.http.client.transformer.ResponseToFileResource</className>
              <properties>
                <property>
                  <name>output</name>
                  <target>file://${project.build.directory}/generated-html/google-proxy.html</value>
                </property>
              </properties>
            </transformer>
          </transformers>
        </configuration>
      </plugin>
    </plugins>
  </build>
  ...
</project>
+---