#*
 *    Copyright (C) 2011 Nadim Benabdenbi <nadim.benabdenbi@gmail.com>
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 *#
    ---
    Request Parameters
    ---
    Nadim Benabdenbi
    ---
    YYYY-MM-DD
    ---

HTTP Request Parameters Example

* Saving Google search request to file <target/generated-html/google-search-page.html>
  
+---
<project>
  <pluginRepositories>
    <pluginRepository>
      <id>maven-http-client-plugin-google-project-snapshots</id>
      <url>${maven-repositories-url}/snapshots</url>
      <snapshots>
        <enabled>true</enabled>
      </snapshots>
    </pluginRepository>
    <pluginRepository>
      <id>maven-http-client-plugin-google-project-releases</id>
      <url>${maven-repositories-url}/releases</url>
      <snapshots>
        <enabled>false</enabled>
      </snapshots>
    </pluginRepository>
  </pluginRepositories>
  ...
  <build>
    <plugins>
      <plugin>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${project.version}</version>
        <executions>
          <execution>
            <id>google-search-page</id>
            <phase>process-resources</phase>
            <goals>
              <goal>execute</goal>
            </goals>
          </execution>
        </executions>
        <configuration>
          <failSafe>false</failSafe>
          <request>
            <url>http://www.google.com/search</url>
            <parameters>
              <parameter>
                <name>q</name>
                <value>${project.artifactId}</value>
              </parameter>
            </parameters>
          </request>
          <transformers>
            <transformer>
              <className>com.google.code.maven.plugin.http.client.transformer.ResponseToFileResource</className>
              <properties>
                <property>
                  <name>target</name>
                  <value>file://target/generated-html/google-search-page.html</value>
                </property>
              </properties>
            </transformer>
          </transformers>
        </configuration>
      </plugin>
    </plugins>
  </build>
  ...
</project>
+---

